.infomacoes__container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 1em;
}

.container__informacoes {
    width: 40%; 
}

.titulo__informacoes {
    font-size: 20px;
    font-weight: 700;
    color: var(--branco);
    padding-bottom: 0.5em;
    color: var(--azul);
}

.contatos {
    display: flex;
    margin: auto;
    width: 50%;
}

.image {
    width: 80%;
}

@media screen and (min-width: 1024px) {
    .infomacoes__container {
        padding-bottom: 1.5em;
    }
    .titulo__informacoes {
        font-size: 30px;
    }
}

@media screen and (min-width: 1728px) {
    .titulo__informacoes {
        font-size: 35px;
    }

    .container__informacoes {
        margin-left: 5.5em;
    }
}