.navbar {
    display: flex;
    margin: 2.5em 0;
    justify-content: center;
    align-items: center;
}

.foto__perfil {
    width: 15%;
    border-radius: 100%;
}

.container__navbar {
    margin: 2.5em 5em;
}

.titulo__navbar {
    font-weight: 700;
    font-size: 35px;
    color: var(--azul);
    padding-bottom: 1em;
}

@media screen and (max-width: 428px) {
    .navbar{
        margin: auto;
    }

    .container__navbar {
        margin: 1em;
    }

    .foto__perfil { 
        width: 20%;
    }
    .titulo__navbar {
        font-size: 20px;
    }

    .texto__navbar {
        font-size: 15px;
    }
}
