.skill{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.container__skill {
    width: 40%;
}

.titulo__skill {
    font-size: 20px;
    font-weight: 700;
    color: var(--branco);
    padding-bottom: 0.5em;
    color: var(--azul);
}

.skill__items {
    display: flex;
}

.skill__image {
    width: 12%;
}

.titulo__educacao{
    color: var(--azul);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 01em;
}

.texto__educacao {
    padding-bottom: 1em;
}

@media screen and (min-width: 1024px) {
    .titulo__skill,
    .titulo__educacao {
        font-size: 30px;
    }

    .texto__educacao {
        font-size: 16px;
    }
}

@media screen and (min-width: 1728px) {
    .titulo__skill,
    .titulo__educacao {
        font-size: 35px;
    }

    .texto__educacao {
        font-size: 20px;
    }

    .container__skill {
        width: 35%;
    }
}